
body {
	display: block;;
	margin: 0;
	font-size: 18px;
	line-height: 1.4;
	font-family: Helvetica, sans-serif;
}

div {
	display: block;
}

header {
	height: 30em;
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 1em;

}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
	display: flex;
    align-items: center;
}

nav img {
	height: 1.5em;
	padding-left: 2em;
	padding-right: 1rem;
}

ul {
	margin-right: 1em;
	padding: 1em;
}

ul li {
	display: inline;
	padding: 0 1em;
}

a {
	color: white;
	text-decoration: none;
}

.menu {
	display: none;
}


.heading h1 {
	font-size: 2em;
	line-height: 1.2;
	font-weight: bold;

}

.container {
	width: 960px;
	margin: 0 auto;
}

.banner {
	display: flex;
	justify-content: flex-end;
}


.heading {
	background-color: white;
    padding: 3em 5em;
    display: inline-block;
    margin-top: 10em;
    margin-right: -2em;
    line-height: 2.4em;
}

.service {
	display: flex;
	justify-content: center;
	 /*align-items: center;
	flex-direction: column;*/

}

.item {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3em;
    width: 5em;
    height: 8em;
}

.item img {
	width: 5em;
    margin-bottom: 1em;
}

.item img.paper {
	width: 3.5em;
}

.about {
	display: flex;
	justify-content: center;
}

.info {
	width: 35%;
	margin-right: 5%;
    margin-bottom: 5em;
}

.title {
	width: 10em;
	background-color: cadetblue;
	margin-bottom: 1em;
	padding-left: 1.25em;
}

.title h3 {
	color: white;
	font-weight: bold;
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


footer {
	background-color: azure;
    padding: 4em 0;
    display: flex;
    align-items: center;
}

footer img {
	height: 1.5em;
	padding-left: 4em;
	padding-right: 1em;
}



@media only screen and (max-width: 1024px){
	header {
		padding-top: 0;
    	height: 22em;
	}

	.container {
		width: 100%;
	}

	.heading h1 {
		font-size: 1.33em;
		/*padding: 0.75em 4em;*/
	}

	.heading {
		width: 100%;
    	padding: 0.75em 4em;
    	margin-top: 5em;
    	margin-right: 2em;
    
	}

}

@media only screen and (max-width: 480px){

	header {
		background-position: 20%;
		padding-top: 0;
		height: 17em;
	}

	nav span {
		display: none;
	}

	ul li {
		display: none;
	}

	.menu {
		display: block;
		margin-right: 2em;
	}

	

	.container { 
		width: 100%;
	}

	.banner {
		justify-content: flex-start;
		align-items: center;
}

	.heading {
    	padding: 1em 3em;
    	margin-top: 9em;
    	margin-right: 0;
	}

	.heading h1 {
		font-size: 1em;
		font-weight: bold;
		text-align: center;
	}

	.service {
	align-items: center;
	flex-direction: column;
	}

.item {
    justify-content: center;
    margin: 1em;
    
	}

	.item img {
	    margin-bottom: 1.54em;
	}

	.paper-icon {
		margin-top: 3.77em;
	}

	.about {
		flex-direction: column;
		margin-top: 3.77em;
	}

	.info {
		width: 100%;
		margin-right: 0;
	    margin-bottom: 4em;

	}

	.title {
		width: 100%;
		margin-bottom: 1em;
		padding-left: 0;
		text-align: center;
	}

	.title p {
		font-size: 0.77em;
	}

	footer {
		width: 100%;
		background-color: azure;
	    padding: 4em 0;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	footer img {
		height: 1.5em;
		padding-left: 0;
		padding-right: 0;
	}

	footer div {
		display: none;
	}



}



	





 














